.form {
    font-family: 'Barlow Semi Condensed'
}

.input {
    color: black;
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.underline {
    -webkit-text-decoration: #7877C5 solid underline;
    text-decoration: #7877C5 solid underline;
    -webkit-text-underline-position: under;
    text-underline-position: auto;
}